.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.RegisterForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterForm label {
  font-size: 18px;
  margin-bottom: 10px;
}

.RegisterForm input[type="text"],
.RegisterForm input[type="email"],
.RegisterForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.RegisterForm button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.RegisterForm button:hover {
  background-color: #0056b3;
}